@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/raleway-v19-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("fonts/raleway-v19-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/raleway-v19-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/raleway-v19-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/raleway-v19-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/raleway-v19-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* Proprétés Générales */

* {
  box-sizing: border-box;
}

body {
  font-family: "raleway-v19-regular", Arial, Helvetica, sans-serif;
  background-color: white;
  width: 1400px;
  margin: auto;
  font-size: 16px;
}

i {
  font-size: 0.8rem;
}

/* En Tête */

.nav {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  margin: 1.2rem 1.2rem;
  padding: 0px;
}

.nav__bar {
  display: flex;
  margin: 0px;
  padding: 40px;
  list-style: none;
  font-size: 0.9rem;
}

.nav__bar__btn {
  padding: 38px;
  text-decoration: none;
}

.grey {
  color: grey;
}

.blue {
  color: #0065fc;
}

.nav__bar a:hover {
  color: rgb(241, 238, 238);
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

/* Titres */

h1 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 20px;
}

h2 {
  font-size: 0.9rem;
  font-weight: bold;
}

h3 {
  font-size: 0.8rem;
  font-weight: lighter;
}

h4 {
  padding: 0px 5px;
}

.title--big {
  margin: 0px 20px;
}

.title--small {
  margin: 5px 20px 10px;
}

/* Propriétés Barre de Recherche */

.search {
  color: white;
  margin: 10px 20px 40px;
  padding: 20px 0px;
  font-size: 1.2rem;
}

.search__logo {
  width: 40px;
  height: 40px;
  padding: 0;
  border: solid rgb(241, 238, 238) 1px;
  border-radius: 12px 0px 0px 12px;
  float: left;
}

.search__form {
  border: grey 1px solid;
  padding: 0;
  border: 0;
  width: 160px;
  height: 40px;
  text-align: left;
  float: left;
}

.search__btn {
  border: 1px solid #0065fc;
  background-color: #0065fc;
  height: 40px;
  padding: 8px 12px;
  font-size: 0.9rem;
  text-align: center;
  color: white;
  border-radius: 0px 12px 12px 0px;
  float: left;
}

.search__field {
  width: 160px;
  height: 40px;
  overflow: hidden;
  padding: 0px 8px;
  border: rgb(241, 238, 238) 1px solid;
  font-size: 0.9rem;
  font-weight: 600;
  color: black;
  display: inline-block;
  text-align: left;
}

/* Proprietes Boutons Filtres */

.filters {
  clear: left;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 20px;
}

.filters__big {
  margin: 10px;
  display: block;
  width: 135px;
  height: 37px;
  position: relative;
}

.filters__small {
  margin: 10px;
  display: block;
  width: 110px;
  height: 37px;
  position: relative;
}

.filters__title {
  font-size: 14px;
  font-weight: bold;
  opacity: 0.8;
  background-color: white;
  border: 20px;
  display: inline-block;
  padding: 8px;
}

.filters__logo {
  color: #0065fc;
  background-color: #deebff;
  padding: 8px;
  border: #deebff solid;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.filters__btn {
  font-size: 0.9em;
  font-weight: bold;
  opacity: 0.8;
  background-color: white;
  border: 1px solid rgb(241, 238, 238);
  border-left: 0;
  border-radius: 0px 12px 12px 0px;
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  right: 10px;
  left: 20px;
  z-index: 2;
  margin-right: 0;
}

.filters__logo--dog {
  color: #0065fc;
  background-color: #deebff;
  padding: 8px;
  border: #deebff solid;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  z-index: 3;
}
.filters__btn--animals {
  font-size: 0.9em;
  font-weight: bold;
  opacity: 0.8;
  background-color: white;
  border: 1px solid rgb(241, 238, 238);
  border-left: 0;
  border-radius: 0px 12px 12px 0px;
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  right: -40px;
  left: 1px;
  z-index: 2;
  white-space: nowrap;
  padding-left: 20px;
  margin-left: 20px;
}

.filters__btn--familial {
  font-size: 0.9em;
  font-weight: bold;
  opacity: 0.8;
  background-color: white;
  border: 1px solid rgb(241, 238, 238);
  border-left: 0;
  border-radius: 0px 12px 12px 0px;
  display: inline-block;
  padding: 8px;
  padding-left: 20px;
  position: absolute;
  top: 0;
  right: 33px;
  left: 20px;
  z-index: 2;
  margin-right: 15px;
}

.filters__btn:link {
}

.filters__btn:visited {
}

.filters__btn:hover,
.filters__btn--familial:hover,
.filters__btn--animals:hover {
  background-color: #0065fc;
  color: #fff;
}

/* Propriétés informations */

.info {
  text-align: left;
}

.info__logo {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50px;
  text-align: center;
  margin: 5px 10px 22px 22px;
  border: solid rgb(241, 238, 238) 1px;
  color: #0065fc;
  padding: 0;
}

.info__texte {
  font-size: 0.8em;
  text-align: center;
  color: grey;
  line-height: 1px;
}

/* Propriétés Parties Principales */

#lodgings {
  margin: 0px;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  align-items: stretch;
}

.lodgings__main {
  flex: 2 1 auto;
  background-color: #f2f2f2;
  border-radius: 12px;
  margin-right: 20px;
  z-index: 2;
}

.MostPopular {
  flex: 1 1 auto;
  background-color: #f2f2f2;
  border-radius: 12px;
  z-index: 1;
}

.lodging__title {
  margin: 30px 20px 20px;
}
.lodging__gallery {
  display: flex;
  flex-flow: row wrap;
  width: auto;
  height: 420px;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-between;

  border-radius: 12px;
  margin: 20px;
}

.lodging__gallery a {
  text-decoration: none;
  color: black;
}

.lodging__gallery a:visited {
  text-decoration: underline grey;
}

.lodging__gallery__advertisement {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: space-between;
  width: 270px;
  height: 200px;
  border-radius: 10px 14px;
  box-shadow: 5px 5px #e4e3e3;
  background: #fff;
}

.lodging__gallery__advertisement img {
  max-width: 250px;
  height: 105px;
  margin: 10px 10px auto 10px;
  border-radius: 8px 8px 0px 0px;
  object-fit: cover;
}

.amina {
  object-fit: cover;
}

.DisplayMore {
  margin: 50px 0px;
}
.DisplayMore a {
  padding: 25px;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.lodging__gallery__advertisement__title {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
}

.price {
  font-size: 14px;
  font-weight: normal;
  padding: 0px 15px 10px;
  color: grey;
}
.star {
  font-size: 10px;
  font-weight: normal;
  padding: 0px 15px 10px;
  color: #0065fc;
}

em {
  font-weight: bold;
  color: black;
  font-style: normal;
}

.MostPopular__aside {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: center;
  height: 60px;
}

.MostPopular__title {
  display: inline-block;
  margin: 30px 20px 20px;
}

.MostPopular__logo {
  display: inline-block;
  border: 0;
  margin: 20px 20px 20px auto;
  width: max-content;
  font-size: 1rem;
}

.MostPopular__gallery {
  display: flex;
  flex-flow: column nowrap;
  flex-direction: flex-start;
  justify-content: space-evenly;
  align-items: center;
}
.MostPopular__gallery__wrapper {
  width: 380px;
  height: 160px;
  border-radius: 10px 14px;
  background: #fff;
  margin: 15px 10px 0px;
  box-shadow: 5px 5px #e4e3e3;
}

.MostPopular__gallery__content > img {
  max-width: 150px;
  height: 140px;
  object-fit: cover;
  margin: 10px;
  border-radius: 8px 0px 0px 8px;
  float: left;
}

.MostPopular__gallery__wrapper
  .MostPopular__gallery__content
  .lodging__gallery__advertisement__title {
  font-size: 16px;
  font-weight: bold;
  padding: 20px 10px 10px;
}

.MostPopular__gallery__wrapper .MostPopular__gallery__content .star {
  padding-top: 40px;
}

.MostPopular__gallery__wrapper .MostPopular__gallery__content .star1 {
  padding-top: 50px;
  color: #0065fc;
}

.activities__wrapper {
  width: 1400px;
  height: 450px;
  margin: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.activities__wrapper a {
  text-decoration: none;
  color: black;
}

.activities__wrapper__portrait {
  width: 300px;
  height: 450px;
  box-shadow: 5px 5px 5px grey;
  border-radius: 12px;
  margin-right: 30px;
  box-shadow: 5px 5px #e4e3e3;
}

.activities__wrapper__portrait--imageBig {
  width: 300px;
  height: 430px;
}

.activities__wrapper__portrait--imageBig img {
  width: 300px;
  height: 410px;
  object-fit: none;
  border-radius: 12px 12px 0px 0px;
}

.legende {
  margin: 10px;
  font-size: 14px;
  font-weight: bold;
  padding: auto;
}
.activities__dual {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 300px;
  height: 450px;
  margin-right: 35px;
}

.activities__wrapper__dual--imageSmall {
  width: 300px;
  height: 225px;
  margin-bottom: 65px;
  border-radius: 12px;
  box-shadow: 5px 5px 5px grey;
}

.activities__wrapper__dual--imageSmall img {
  width: 300px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.activities__wrapper__dual--imageSmall2 {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 12px;
  box-shadow: 5px 5px 5px grey;
  flex: 1 1 0;
}

.activities__wrapper__dual--imageSmall2 img {
  width: 300px;
  height: 119px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.activities__wrapper__portrait--imageSmall4 {
  width: 100%;
  height: 45%;
  margin-bottom: 45px;
  border-radius: 12px;
  box-shadow: 5px 5px 5px grey;
}

.activities__wrapper__portrait--imageSmall3 {
  width: 100%;
  height: 45%;
  margin-bottom: 10px;
  border-radius: 12px;
  box-shadow: 5px 5px 5px grey;
}

.activities__wrapper__portrait--imageSmall4 img {
  width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.activities__wrapper__portrait--imageSmall3 img {
  width: 300px;
  height: 160px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.footer__column {
  width: 300px;
  margin: 20px 30px;
}

.footer__content a {
  text-decoration: none;
  color: grey;
  display: inline-block;
  padding: 5px 5px;
}

footer {
  background-color: #f2f2f2;
  width: 100%;
  height: 200px;
  margin: 20px 0px 0px;
  display: flex;
}

@media screen and (max-width: 900px) {
  .nav {
    width: 900px;
  }

  #lodgings {
    width: 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0;
  }

  .lodgings__main {
    width: 900px;
    height: fit-content;
    order: 2;
  }
  .lodging__gallery {
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    margin: 20px 0px;
  }

  .polaroid {
    width: 380px;
    height: 250px;
    margin: 10px;
  }

  .polaroid img {
    max-width: 350px;
    height: 120px;
    margin: 10px 10px auto 10px;
    border-radius: 8px 8px 0px 0px;
    object-fit: cover;
  }

  .MostPopular {
    width: 900px;
    height: fit-content;
    margin: 10px 0px;
    padding-bottom: 20px;
    order: 1;
  }

  .MostPopular__gallery {
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
  }
  .activities__wrapper {
    width: 900px;
    height: fit-content;
    flex-flow: column wrap;
    justify-content: flex-start;
  }

  footer {
    width: 900px;
  }
}

@media screen and (max-width: 400px) {
  .nav {
    display: inline;
    width: 400px;
  }

  .nav__bar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100px;
    width: 400px;
    margin: 0;
    padding: 0px 20px;
  }

  .li1,
  .li2 {
    padding: 0px 150px;
  }

  .li3 {
    display: none;
  }

  .nav a:hover {
    border-bottom: 2px solid #0065fc;
    border-top: none;
  }

  h1 {
    display: inline-block;
    overflow-wrap: break-word;
  }

  #lodgings {
    width: 400px;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0;
  }

  .lodgings__main {
    width: 400px;
    height: fit-content;
    order: 2;
  }

  .MostPopular {
    width: 400px;
    height: fit-content;

    order: 1;
  }
  .lodging__gallery {
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    margin: 20px 0px;
  }
  footer {
    width: 400px;
    height: fit-content;
    flex-flow: column wrap;
  }
}
