@font-face {
  font-family: "raleway";

  src: url("fonts/raleway/raleway-light-webfont.eot") format("eot");
  src: url("fonts/raleway/raleway-light-webfont.svg") format("svg");
  src: url("fonts/raleway/raleway-light-webfont.woff") format("woff");
  src: url("fonts/raleway/raleway-bold-webfont.woff2") format("woff2");
  src: url("fonts/raleway/Raleway-Light.ttf") format("truetype");
}

@font-face {
  font-family: "raleway bold";

  src: url("fonts/raleway/Raleway-Bold.ttf") format("truetype");
  src: url("fonts/raleway/raleway-bold-webfont.eot") format("eot");
  src: url("fonts/raleway/raleway-bold-webfont.svg") format("svg");
  src: url("fonts/raleway/raleway-bold-webfont.woff") format("woff");
  src: url("fonts/raleway/raleway-bold-webfont.woff2") format("woff2");
}
/* Proprétés Générales */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "raleway", "raleway bold", Arial, Helvetica, sans-serif;
  background-color: white;
  max-width: 1400px;
  margin: 0 auto;
  font-size: 14px;
  scroll-behavior: smooth;
}

i {
  font-size: 0.9rem;
}

/* En Tête */

.nav {
  width: 100%;
  margin-bottom: 20px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.nav__logo img {
  width: 120px;
  margin: 20px 30px;
  padding: 10px 0px;
}

.nav__bar {
  padding: 50px 0px 40px 40px;
  display: flex;
  justify-content: right;
  list-style: none;
  font-size: 16px;
}

.nav__bar__btn {
  padding: 48px 34px;
  text-decoration: none;
  color: black;
}

.blue {
  color: #0065fc;
  font-family: "raleway bold";
}

.nav__bar a:hover {
  color: rgb(241, 238, 238);
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

/* Titres */

h1 {
  font-size: 1.35rem;
  font-family: "raleway bold";
  font-weight: bolder;
}

.h2 {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "raleway bold";
}

.h3 {
  font-size: 1rem;
  font-weight: 600;
  font-family: "raleway bold";
}

h4 {
  font-size: 14px;
  padding: 0px 5px;
}

.title--big {
  margin: 0px 30px;
  font-size: 1.35rem;
  font-family: "raleway bold";
  font-weight: bolder;
}

.title--small {
  margin: 10px 35px 10px;

  font-weight: lighter;
  font-size: 1.1rem;
}

/* Propriétés Barre de Recherche */

.search {
  margin: 20px 20px 70px;
  padding: 10px 0px 20px;
  font-size: 1rem;
}

.search__logo {
  width: 50px;
  height: 50px;
  padding: 13px 10px 5px;

  border: solid rgb(241, 238, 238) 1px;
  border-radius: 20px 0px 0px 20px;
  float: left;
  background-color: #f2f2f2;
  text-align: center;
}

.search__form {
  width: 200px;
  height: 50px;
  padding: 0;
  border: grey 1px solid;
  border: 0;
  text-align: left;
  float: left;
}

.search__field {
  width: 200px;
  height: 50px;
  padding: 12px 15px 15px;
  border: rgb(241, 238, 238) 1px solid;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: left;
  vertical-align: center;
  color: black;
  overflow: hidden;
}

.search__btn {
  height: 49px;
  width: 117px;
  font-size: 1.1rem;
  padding: 12px 8px 15px;
  border: 1px solid #0065fc;
  border-radius: 0px 20px 20px 0px;
  background-color: #0065fc;
  color: white;
  float: left;
}

.search__glass {
  display: none;
}

/* Proprietes Boutons Filtres */

.filters__main {
  margin: 60px 0px 40px 20px;
}

.filters__title {
  display: inline-block;
  margin: 20px 20px 15px 15px;
  font-family: "raleway bold";
  font-size: 1rem;
  font-weight: bold;
  background-color: white;
  position: relative;
  top: -33px;
}

/* filtres  */

.filters_wrapper {
  width: 10px;
  height: 37px;

  position: relative;
  margin: 10px 150px 10px 30px;

  display: inline-block;
}

.economique {
  margin-left: 60px;
}

.familial {
  margin-right: 115px;
}

.filters_line {
  display: inline-block;
}

.filters__logo {
  display: inline-block;
  padding: 15px 15px 12px 12px;
  text-align: center;
  border: #deebff solid;
  border-radius: 50px;
  color: #0065fc;
  background-color: #deebff;

  z-index: 3;

  position: absolute;
  top: -18px;
  left: -70px;
  width: 50px;
  height: 50px;
}

.filters__btn {
  display: inline-block;
  padding: 12px 22px 12px 38px;
  border: 2px solid rgb(240, 237, 237);
  border-radius: 0px 50px 50px 0px;
  font-family: "raleway bold";
  font-size: 1rem;
  font-weight: bold;
  background-color: white;
  white-space: nowrap;

  z-index: 2;

  position: absolute;
  height: 50px;
  top: -18px;
  left: -50px;
}

.filters__btn:link {
  background-color: inherit;
}

.filters__btn:visited {
  background-color: inherit;
}

.filters__btn:hover {
  background-color: #0065fc;
  color: #fff;
}

/* Propriétés informations */

.info {
  margin: 40px 0px 40px 10px;
}

.info__logo {
  width: 50px;
  height: 50px;

  display: inline;
  margin: 5px 10px 15px 22px;
  padding: 5px 10px;
  border: solid rgb(241, 238, 238) 2px;
  border-radius: 100px;

  text-align: center;
  color: #0065fc;
  background-color: white;
}

.info__texte {
  font-weight: 500;
  font-size: 1.05rem;
}

/* Propriétés Parties Principales */

#lodgings {
  margin: 0px 30px;

  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  align-items: stretch;
}

.lodgings__main {
  flex: 2 1 auto;

  margin-right: 20px;
  padding: 45px 30px;
  border-radius: 12px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: #f2f2f2;
  z-index: 2;
}

.lodging__title {
  margin: 0px 10px 20px;
  font-size: 1.35rem;
  font-family: "raleway bold";
  font-weight: bolder;
}

.lodging__gallery {
  width: auto;

  border-radius: 12px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-between;
}

/* commentaire */

.lodging__gallery__advertisement {
  width: 235px;
  height: 205px;
  flex: 1 1 auto;
  margin: 0px 10px 20px;
  border: 2px rgb(242, 239, 239) solid;
  border-radius: 20px 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 1px 0px 2px 1px rgb(250 248 248);
  background: #fff;
  overflow: hidden;
  text-decoration: none;
  color: black;
}

.lodging__gallery__advertisement img {
  width: 100%;
  height: 120px;
  padding: 5px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.displaymore {
  margin: 30px 20px 20px;
  font-family: "raleway bold";
  font-size: 1.1rem;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1rem;

  font-family: "raleway bold";
}

.lodging__gallery__advertisement__title {
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: bold;
  font-family: "raleway bold";
}

.price {
  padding: 0px 10px 10px;
  font-size: 0.9rem;
  font-weight: normal;
  font-family: "raleway";
}
.star {
  padding: 0px 10px 0px;

  font-size: 10px;
  font-weight: normal;
  color: #0065fc;
}

em {
  font-family: "raleway bold";
}

/* Side Bar */

.mostpopular {
  flex: 1 1 auto;

  border-radius: 12px;
  padding: 45px 30px;
  display: flex;
  flex-flow: column nowrap;

  background-color: #f2f2f2;
  z-index: 1;
}

.mostpopular__aside {
  height: 60px;

  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  font-size: 1.35rem;
}

.mostPopular__title {
  margin: 0px 10px 20px;

  font-size: 1.35rem;
  font-family: "raleway bold";
  font-weight: bolder;
}

.mostPopular__logo {
  font-size: 1.2rem;
}

.mostpopular__gallery {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: -10px;
}

.MostPopular__gallery__wrapper {
  margin: 0px 0px 15px;
  border-radius: 20px;

  flex: 1 1 auto;

  background: #fff;
  box-shadow: 1px 0px 2px 1px rgb(250, 248, 248);
  border: 2px rgb(242, 239, 239) solid;

  overflow: hidden;
}

.mostpopular__gallery__content {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  margin: 0px 0px 15px;
  border-radius: 20px;

  flex: 0 1 auto;
  width: 360px;
  height: 150px;

  background: #fff;
  box-shadow: 1px 0px 2px 1px rgb(250, 248, 248);
  border: 2px rgb(242, 239, 239) solid;

  overflow: hidden;
  text-decoration: none;
  color: black;
}

.mostpopular__gallery__content > img {
  width: 260px;
  height: 150px;
  padding: 5px 10px 5px 5px;
  border-radius: 20px 0px 0px 20px;
  flex: 1;
  object-fit: cover;

  overflow: hidden;
}

.mostpopular__gallery__content .lodging__gallery__advertisement__title {
  padding: 15px 10px 5px;
  font-size: 16px;
  font-weight: bold;
}

.mostpopular__gallery__content .star {
  padding-top: 45px;
  color: #0065fc;
}

.star1 {
  padding: 40px 10px 0px;
  color: #0065fc;
}

.grey {
  color: rgb(223, 219, 219);
}

.lodging__gallery__data {
  list-style: none;
  flex: 1.8;
}

/* Activites, Conteneur Flexbox General qui contient d'autres Flexbox */

#activities {
  margin: 30px 30px;
  font-size: 1.35rem;
  font-family: "raleway bold";
  font-weight: bolder;
}

.activities__title {
  margin: 0px 0px 0px 5px;
}

.activities__wrapper {
  padding: 20px 0px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.activities__wrapper__title {
  height: 60px;
  padding: 15px 15px 10px;
}

.activities__wrapper__portrait,
.activities__wrapper__portrait1 {
  width: 300px;

  border: 2px rgb(242, 239, 239) solid;
  border-radius: 20px;
  box-shadow: 1px 0px 2px 1px rgb(250, 248, 248);
  flex: 0 1 auto;

  overflow: hidden;
  text-decoration: none;
  color: black;
}

.activities__wrapper__portrait > img {
  width: 100%;
  height: 375px;
  object-fit: cover;
  object-position: 60% 0%;
}

.activities__wrapper__portrait1 > img {
  width: 100%;
  height: 375px;
  object-fit: cover;
  object-position: 53% 0%;
}

.activities__wrapper__portrait1 {
  margin-right: 10px;
}

.activities__wrapper__portrait {
  margin: 0px 10px;
}

.activities__dual {
  height: 440px;
  width: 300px;
  flex: 0 1 auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  overflow: hidden;
}

.activities__dual__wrapper-top {
  border: 2px rgb(242, 239, 239) solid;
  border-radius: 20px;
  box-shadow: 1px 0px 2px 1px rgb(250 248 248);

  overflow: hidden;
  height: 230px;
  text-decoration: none;
  color: black;
}

.activities__dual__wrapper-top > img {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  object-position: center 45%;
}

.activities__dual__wrapper-bottom {
  margin: 0px 0px 0px 0px;

  border: 2px rgb(242, 239, 239) solid;
  border-radius: 20px;
  box-shadow: 1px 0px 2px 1px rgb(250, 248, 248);

  overflow: hidden;
  text-decoration: none;
  color: black;
}

.activities__dual__wrapper-bottom > img {
  width: 100%;
  height: 105px;

  border-radius: 20px 20px 0px 0px;
  object-position: center 20%;
  object-fit: cover;
}

.activities__dual__wrapper-top2 {
  border: 2px rgb(242, 239, 239) solid;
  box-shadow: 1px 0px 2px 1px rgb(250, 248, 248);
  border-radius: 20px;

  overflow: hidden;
  text-decoration: none;
  color: black;
}

.activities__dual__wrapper-top2 > img {
  width: 100%;
  height: 135px;
  border-radius: 20px 20px 0px 0px;

  object-fit: cover;
  object-position: top;
}

.activities__dual__wrapper-bottom2 {
  border: 2px rgb(242, 239, 239) solid;
  border-radius: 20px;
  box-shadow: 1px 0px 2px 1px rgb(250, 248, 248);

  overflow: hidden;
  text-decoration: none;
  color: black;
}

.activities__dual__wrapper-bottom2 > img {
  width: 100%;
  height: 140px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  object-position: center 20%;
}

/* Bas de page */

footer {
  width: 100%;

  margin: 20px 0px 0px;

  display: flex;
  flex-flow: row wrap;
  background-color: #f2f2f2;
}

.footer__content {
  flex: 1 1 auto;
  list-style: none;
  width: 400px;
  padding: 20px 0px 20px 30px;
}

.footer__content .h2 {
  padding: 15px 0px;
}
.footer__content a {
  padding: 7px 0px;

  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}

/* Media Queries 1090px */

@media screen and (max-width: 1090px) {
  body {
    margin: 0;
  }

  .lodging__gallery {
    flex-flow: row wrap;
  }

  .star1 {
    font-size: 1.05rem;
    position: absolute;
    top: 70px;
  }

  #lodgings {
    margin: 20px;

    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .lodgings__main {
    order: 2;
    margin: 0px;
  }

  .lodging__gallery__data {
    min-width: 140px;
    position: relative;
  }
  .mostpopular {
    width: 100%;

    margin: 20px;
    margin-left: 0;
    padding-bottom: 20px;
    order: 1;
  }

  .mostpopular__gallery {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .mostpopular__gallery__content {
    flex: 0 1 auto;

    margin-right: 20px;
    width: 400px;

    margin: 0px 0px 20px;
  }

  .mostpopular__gallery :nth-child(3) {
    flex-shrink: 2;
  }

  .mostpopular__gallery__content > img {
    max-width: 180px;
  }

  .mostPopular__title {
    margin: 0px 10px 20px;
    font-size: 1.35rem;
    font-family: "raleway bold";
    font-weight: bolder;
  }

  .star1 {
    padding: 80px 10px 0px;
    font-size: 1.05rem;
    top: 40px;
  }

  #activities {
    height: auto;
  }

  .activities__wrapper {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
    padding: 20px;

    /* background-color: yellow; */
  }
  .activities__dual {
    flex-flow: row nowrap;
    justify-content: space-between;
    order: 3;
    height: 100%;
    width: 100%;
  }

  .activities__wrapper__portrait {
    order: 2;
  }

  .activities__wrapper__portrait1 {
    order: 1;
  }

  .activities__wrapper__portrait > img {
    height: 180px;
  }

  .activities__wrapper__portrait1 > img {
    height: 180px;
  }

  .activities__dual__wrapper-top,
  .activities__dual__wrapper-bottom,
  .activities__dual__wrapper-top2,
  .activities__dual__wrapper-bottom2,
  .activities__wrapper__portrait,
  .activities__wrapper__portrait1 {
    height: 245px;
    min-width: 200px;
    width: 400px;
    margin: 0px 10px 20px;
  }

  .activities__dual__wrapper-bottom > img {
    height: 180px;
  }

  .activities__dual__wrapper-top2 > img {
    height: 185px;
  }

  .activities__dual__wrapper-bottom2 > img {
    height: 185px;
  }
  .activities__title {
    margin: 0px 0px 0px 40px;
  }

  .footer__content {
    width: 320px;
  }

  footer {
    width: 100%;
  }
}

/* Breaking Point  947px */

@media screen and (max-width: 947px) {
  .mostpopular__gallery__content {
    width: 275px;
  }

  .activities__dual__wrapper-top,
  .activities__dual__wrapper-bottom,
  .activities__dual__wrapper-top2,
  .activities__dual__wrapper-bottom2,
  .activities__wrapper__portrait,
  .activities__wrapper__portrait1 {
    width: 300px;
  }

  .animaux {
    margin-left: 145px;
  }
}

/* Breaking Point  820px */

@media screen and (max-width: 820px) {
  .footer__content {
    width: 230px;
  }
}

/* Breaking Point  744px */

@media screen and (max-width: 744px) {
  .activities__dual__wrapper-top,
  .activities__dual__wrapper-bottom,
  .activities__dual__wrapper-top2,
  .activities__dual__wrapper-bottom2,
  .activities__wrapper__portrait,
  .activities__wrapper__portrait1 {
    width: 275px;
  }
}

/* Breaking Point  690px */

@media screen and (max-width: 690px) {
  .activities__dual__wrapper-top,
  .activities__dual__wrapper-bottom,
  .activities__dual__wrapper-top2,
  .activities__dual__wrapper-bottom2,
  .activities__wrapper__portrait,
  .activities__wrapper__portrait1 {
    width: 260px;
  }

  .mostpopular__gallery {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .mostpopular__gallery__content {
    width: 100%;
  }

  .footer__content {
    width: 200px;
  }

  .romantique {
    margin-left: 145px;
  }

  .animaux {
    margin-left: 30px;
  }
}

/* Breaking Point  660px */

@media screen and (max-width: 660px) {
  .nav {
    width: 100%;
    display: block;
  }

  .nav__bar {
    width: 100%;
    margin: 0px 0px 35px;
    padding: 15px 0px;
    border-bottom: 2px solid rgb(232, 227, 227);

    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .nav__bar__btn {
    flex: 1;
    font-size: 1.2rem;
    padding: 15px 80px 15px 70px;
  }

  .nav__bar a:hover {
    border-top: none;
    border-bottom: 2px solid #0065fc;
  }

  .nav__bar :nth-child(2) {
    padding-right: 0px;
  }

  .sign__in {
    position: absolute;
    top: 35px;
    right: 0;
    left: 350px;
    border: none;
    color: #0065fc;
    font-weight: bold;
  }

  .sign__in a:hover {
    border-bottom: none;
  }

  .sign__in a:active {
    text-decoration: none;
  }

  .lodgings__main {
    background-color: white;
  }
  .activities__wrapper {
    justify-content: space-around;
  }
  .activities__dual__wrapper-top,
  .activities__dual__wrapper-bottom,
  .activities__dual__wrapper-top2,
  .activities__dual__wrapper-bottom2,
  .activities__wrapper__portrait,
  .activities__wrapper__portrait1 {
    width: 590px;
  }

  .activities__wrapper__portrait {
    order: 3;
  }

  .activities__dual {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }

  .filters__title {
    display: block;
    top: 0px;
    margin-bottom: 30px;
  }

  .filters__btn {
    font-size: 1.1rem;
  }

  .economique {
    margin-left: 78px;
  }

  .familial {
    margin-right: 158px;
  }

  .romantique {
    margin-left: 78px;
  }

  .mostpopular {
    margin: 0;
  }

  #lodgings {
    margin: 0;
  }

  .lodging__title {
    margin-left: 15px;
    font-size: 1.35rem;
    font-family: "raleway bold";
    font-weight: bolder;
  }

  h1 {
    display: inline-block;
    overflow-wrap: break-word;
    font-size: 1.5rem;
  }

  .h2 {
    font-size: 1.2rem;
  }

  .h3 {
    font-size: 1.1rem;
  }

  .info__texte {
    font-size: 1.2rem;
  }

  .info__jump {
    display: block;
    font-size: 1.2rem;
    margin: 5px 0px 0px 65px;
  }

  .lodgings__main {
    padding: 45px 20px;
  }

  .displaymore {
    margin: 0px 15px;
  }

  .activities__title {
    margin-left: 35px;
  }

  #activities {
    margin: 30px 0px;
  }

  footer {
    width: 100%;
    height: fit-content;
    flex-flow: column wrap;
    padding: 20px;
  }
}

/* Breaking Point  480px */

@media screen and (max-width: 480px) {
  body {
    min-width: 479px;

    margin: 0;
    padding: 0;
  }

  .sign__in {
    position: absolute;
    top: 37px;
    right: 0;
    left: 290px;
    border: none;
  }

  .sign__in a:hover {
    border-bottom: none;
  }

  .title--big {
    margin: 0px 30px;
    font-size: 1.5rem;
  }

  .title--small {
    margin-left: 30px;
    font-size: 1.2rem;
  }

  .search {
    margin-top: 30px;
  }
  .search__logo {
    width: 70px;
    height: 70px;
    font-size: 1.2rem;
    padding: 22px 10px 5px;
  }

  .search__form {
    width: 275px;
    height: 70px;
  }

  .search__field {
    width: 286px;
    height: 70px;
    font-size: 1.3rem;
  }

  .search__btn {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    border: transparent 0px solid;
    padding-top: 15px;
  }

  .search__text {
    display: none;
  }

  .search__glass {
    display: inline-block;
    font-size: 1.6rem;
    padding: 4px 10px 0px 16px;
  }

  .filters__main {
    margin: 90px 0px 0px 20px;
  }

  .info {
    margin: 30px 0px;
  }

  .filters_wrapper {
    margin-bottom: 20px;
  }

  .filters__title {
    display: block;
    font-size: 1.3rem;
    margin-left: 10px;
    margin-bottom: 30px;
  }

  .filters__btn {
    padding: 10px 25px 10px 42px;
    font-size: 1.3rem;
  }

  .economique {
    margin-right: 160px;
  }

  .familial {
    margin-left: 60px;
    margin-right: 70px;
  }
  .romantique {
    margin-right: 180px;
  }

  .animaux {
    margin-left: 78px;
    margin-bottom: 0;
  }

  #lodgings {
    width: 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0;
  }

  .lodgings__main {
    padding: 40px 20px 40px;
  }

  .lodging__title {
    margin: 0px 10px 10px;
    font-size: 1.5rem;
    font-family: "raleway bold";
    font-weight: bolder;
  }

  .lodging__gallery {
    justify-content: flex-start;
    height: fit-content;
    margin: 20px 0px;
  }

  .lodging__gallery__advertisement img {
    height: 160px;
  }

  .lodging__gallery__advertisement {
    margin: 0px 0px 20px;
    height: 260px;
  }

  .star {
    font-size: 1.3rem;
  }

  .lodging__title {
    margin: 0px;
  }

  .mostpopular {
    width: 100%;
    margin-top: 0px;
    overflow: hidden;
    border-radius: 0px;
    padding: 40px 20px;
    margin: 0px;
  }

  .mostPopular__title {
    font-size: 1.5rem;
  }

  .mostpopular__gallery__content {
    height: 200px;
    overflow: hidden;
    width: 100%;
  }

  .mostpopular__gallery__content > img {
    width: 190px;
    height: 195px;
  }

  .price {
    font-size: 1rem;
  }

  .star1 {
    padding-top: 120px;
    font-size: 1.1rem;
  }

  .star {
    padding: 0px 10px 0px;
    font-size: 1.3rem;
  }

  #activities {
    margin: 0;
    font-size: 1.5rem;
    font-family: "raleway bold";
    font-weight: bolder;
  }

  .activities__title {
    margin-left: 35px;
  }
}
